// ------------------------------------------ //
// General
// ------------------------------------------ //
html, body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

small {
	font-size: 75%;
}

// ------------------------------------------ //
// Body
// ------------------------------------------ //
body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	@include font-size(1.8); // 16px
}

// ------------------------------------------ //
// Links
// ------------------------------------------ //
a {
	color: #fff;
	@include transition(all .3s ease);

	&:hover,
	&:focus {
		color: $red;
		text-decoration: none;
	}
}

// ------------------------------------------ //
// Headings
// ------------------------------------------ //
h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	@include font-size(3.6);
	
}

h2 {
	@include font-size(3.0);
	color: $red;
}

.tendencias h2 {
	color: #fff;
	
}

// ------------------------------------------ //
// Grid
// ------------------------------------------ //
.salon {
	.col-xs-6 {
		@media (max-width: 480px) {
			width: 100%;
		}
	}
}