.red {
	color: $red;
}

.dark {
	color: $dark;
}

.light-red {
	color: lighten($red, 35%);
}

.inline-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li {
		@media (min-width: $screen-sm-min) {
			display: inline-block;
		}
	}
}