// ------------------------------------------ //
// Main header
// ------------------------------------------ //
.main-header {
	width: 100%;
	z-index: 101;

	@media (min-width: $screen-sm-min) {
		position: fixed;	
	}
}

// ------------------------------------------ //
// Salon
// ------------------------------------------ //
.home {
	position: relative;

	.down-icon {
		position: absolute;
		z-index: 100;
		bottom: -55px;
		left: 50%;
		width: 110px;
		height: 110px;
		margin-left: -55px;
		padding: 15px;
		@include border-radius(50%);
		background-color: rgba(0,0,0,0.6);
		text-align: center;
		color: #fff;
	}	
}

// ------------------------------------------ //
// Salon
// ------------------------------------------ //
.salon {
	// margin-bottom: 60px;

	.salon-description {
		// margin: 0 0 60px 0;
		padding: 80px 0 100px 0;
		background-color: $dark;
		color: #fff;
	}

	.salon-servicios {
		text-align: center;

		@media (min-width: $screen-sm-min) {
			text-align: left;
		}
	}

	.owl-theme {
		// margin-top: 80px;
		// margin-bottom: 0;
		margin-top: 0;
		margin-bottom: 100px;
	}
	.owl-controls {
		@media (min-width: $screen-sm-min) {
			margin: 0;
		}		
	}
}



// ------------------------------------------ //
// Tendencias
// ------------------------------------------ //
.tendencias {
	margin-top: 100px;
	padding: 80px 0 0 0;
	// background-color: $red;
	color: #fff;
	background: url(../img/rickyverona-tendencias-peinado-rojo.jpg) center center no-repeat;
	background-size: cover;

	.tendencias-blog {
		margin-top: 100px;
		padding: 80px 0 100px 0;
		background-color: rgba(0,0,0,0.6);

		.tendencias-blog__tendencia {
			padding-top: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid rgba(255,255,255,0.3);
			
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: none;
			}

			@media (min-width: $screen-sm-min) {
				padding-top: 0;
				padding-bottom: 0;
				border-bottom: 0;			
			}
			
			.tendencias-blog__post-info {
				@include font-size(1.6);
				color: lighten($dark, 45%);
				font-family: sans-serif;
			}
		}

	}
}



// ------------------------------------------ //
// Productos
// ------------------------------------------ //
.productos {
	margin-top: 80px;
}



// ------------------------------------------ //
// Quote
// ------------------------------------------ //
.noticia-destacada {
	margin-top: 80px;
	padding: 80px 0 100px 0;
	background-color: $red;
	color: #fff;
	@include box-shadow(inset 0 0 20px darken($red, 10%));
}



// ------------------------------------------ //
// Equipo
// ------------------------------------------ //
.equipo {
	margin-top: 80px;
	
	.equipo-item {
		position: relative;
		
		img {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}

		.equipo-info {
			padding: 20px;

			@media (min-width: $screen-sm-min) {
				position: absolute;
				left: 0;
				bottom: 0;
				height: 140px;
				background-color: rgba(255, 255, 255, 0.9);
				@include transition (all .3s ease-in-out);				
			}
			
			h2 {

				text-align: center;

				span {
					display: block;
					@include font-size(2);
					color: #808080;
					font-weight: 300;
				}
			}

			.equipo-info__descripcion {

				@media (min-width: $screen-sm-min) {
					position: relative;
					margin-top: 30px;
					opacity: 0;
					text-align: center;
					@include transition (all .3s ease-in-out);					
				}
			}
		}
		
		@media (min-width: $screen-sm-min) {
			&:hover,
			&:focus {
				img { opacity: 0.6; }

				.equipo-info {
					height: 100%;
					.equipo-info__descripcion {
						opacity: 1;
					}
				}
			}			
		}
	}

}



// ------------------------------------------ //
// Contactar
// ------------------------------------------ //
.contactar {
	margin-top: 100px;
	background-image: url(../img/barcelona.jpg);
	background-position: bottom;
	background-size: cover;
	color: #fff;
	
	.container {
		padding: 30px 15px;
		background-color: rgba(0,0,0,0.8);

		@media (min-width: $screen-sm-min) {
			padding: 60px 60px 80px;
		}
	}

	h2 {
		color: #fff;
	}
}



// ------------------------------------------ //
// Footer
// ------------------------------------------ //
.main-footer {
	padding: 30px 0 0;
	background-color: $red;
	color: #fff;
	
	.footer-nav {
		font-family: "Oswald", sans-serif;
		font-weight: 300;
		text-transform: uppercase;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			> li {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px dotted #fff;

				@media (min-width: $screen-sm-min) {
					display: inline-block;
					padding-bottom: 0;
					margin-bottom: 0;
					border-bottom: none;
					padding-right: 15px;
					margin-right: 15px;
					border-right: 1px solid #fff;
					line-height: 16px;

					&:last-child {
						border-right: none;
					}

					a {
						&:hover,
						&:focus {
							color: $dark;
						}
					}
				}
			}
		}
	}
	
	.social-links {
		margin-top: 30px;
		text-align: center;

		@media (min-width: $screen-sm-min) {
			margin-top: 0;
			text-align: right;
		}

		ul {
			margin: 0;
			padding: 0;
			line-height: 16px;

			> li {
				display: inline-block;
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}

				> a {
					@include font-size(4.8);
					color: #fff;
					@include opacity(1);
					@include transition(all .3s ease);

					&:hover,
					&:focus {
						@include opacity(0.6);
					}

					@media (min-width: $screen-sm-min) {
						@include font-size(2.4);						
					}
				}
			}
		}
	}

	.copyright {
		margin-top: 30px;
		padding: 30px 0;
		background-color: $dark;
		@include font-size(1.4);
	}
}